// Typography
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-base: Arial, 'helvetica', "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$headings-font-family: 'helvetica';
$font-size-h1: 3.7rem;
$body-color: #9192a4;
$headings-color: #000;
$headings-font-weight: 800;
$line-height-base: 1.65;

// Grid
$container-width: 1170px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: $container-width
);

// Cards
$card-spacer-x:            2.8rem;
$card-spacer-y:            1.8rem;
$card-border-width:        0px;
$card-border-radius:       0;

// Navbar
$nav-link-padding: 1em 1.3em;
$dropdown-border-color: rgba(160, 168, 177, 0.15);

// Colors
$brand-primary: #70707E;