/*!
Elementor admin scripts
*/

.elementor-panel#elementor-panel {
	#elementor-panel-header {
		height: 45px;
		color: #495157;
		background: white;
		border-bottom: 1px solid #e6e9ec;
		cursor: move;
		z-index: 100;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
	}
	#elementor-panel-content-wrapper {
		top: 45px;
	}
	.elementor-panel-navigation-tab.active {
		border-bottom: 3px solid #772e8a;
	}
}

.movable-editor {
    #elementor-preview {
        left: 0 !important;
    }
    #elementor-panel-wrapper {
        position: fixed;
        left: 3%;
        top: 6vh;
        max-height: 100vh;
        height: 80vh;
        box-shadow: 5px 6px 38px 2px rgba(40, 36, 40, 0.4);
        width: 380px;
        transition: unset;    
        border-radius: 10px;
    }
    .elementor-panel#elementor-panel {
        position: relative !important;
        width: 100%;
        overflow: hidden;
        left: 0;      
        border-radius: 10px;  
    }
    #elementor-mode-switcher {
        top: 4px;
        transform: none;
        right: 45px;
        left: auto;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background: #f9f9f9;
        color: black;
        position: absolute;
        z-index: 5;
        &:hover {
            background: #772e8a;
        }
    }   
    #elementor-panel-header-wrapper {
        z-index: 1 !important;
        position: relative;
    }
    #elementor-panel-footer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    &.elementor-editor-preview { 
        #elementor-panel {
            overflow: visible;
        }
        #elementor-panel-wrapper {
            overflow: visible;
            height: auto !important;
        }
        #elementor-panel-content-wrapper {
            display: none;
        }
        #elementor-panel-inner {
            overflow: visible;
        }
        #elementor-panel-footer {
            position: relative;
        }
    }
    &.elementor-editor-active #elementor-mode-switcher-preview .fa:before {
        content: "\f023";
    }
    &.elementor-editor-preview #elementor-mode-switcher-preview .fa:before {
        content: "\f13e";
    }
    &.elementor-editor-preview #elementor-mode-switcher {
        background-color: #fff;
        color: black;
        // height: 45px;
        // width: 45px;
    }
}

.dragging-panel {
    #elementor-preview * {
        pointer-events: none;
    }
}

.ui-resizable-s {
    position: absolute;
    top: 100%;    
    left: 0;
    z-index: 90;
    width: 100%;
    height: 15px;
    cursor: ns-resize;
}
.ui-resizable-e {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 90;
    height: 100%;
    width: 15px;
    cursor: ew-resize;
}
.ui-resizable-se {
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 90;
    height: 15px;
    width: 15px;
    cursor: se-resize;
}

/**
 * Templates
 */
#elementor-template-library-templates {
    #elementor-template-library-templates-container[data-template-source="local"] {
        box-shadow: none;
    }
    .elementor-template-library-template-local .elementor-template-library-template-icon {
        display: none;
    }
    .elementor-template-library-template-local {
        width: 33%;
        float: left;
        padding: 10px;
        background: transparent;
        flex-direction: column;
        height: 250px;
        border: 0;
    }

}

.elementor-template-library-template-local {
    .elementor-button.elementor-template-library-template-insert {
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        left: 50%;
        background: white !important;
        color: black;
        border-radius: 10px;
        margin: 0;
        opacity: 0;
        box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.29);
    }
    .elementor-template-library-template-meta {
        margin-top: 10px;
        text-align: center;
        .elementor-template-library-template-name {
            width: auto;
        }
    }
    .elementor-template-library-template-type {
        display: none;
    }
    .elementor-template-library-template-thumbnail {
        width: 100%;
        height: 170px;
        min-height: 170px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;    
        display: flex;
        background: white;
        justify-content: center;
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            align-self: center;
        }
        > i {
            font-size: 64px;
            margin-top: 50px;
        }
        &:hover {
            .elementor-button.elementor-template-library-template-insert {
                opacity: 1 !important;
            }
        }
    }
}
