.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}
// Don't add margin to AE templates
.site-footer, .navbar {
	.widget {
		margin: 0;
	}
} 

.widget_rss {
	li {
		.rsswidget {
			font-weight: bold;
			text-decoration: underline;
		}
		.rss-date {
			font-style: italic;
			font-size: .9rem;
		}
	}
}

.widget_calendar {
	table {
		width: 100%;
		max-width: 370px;
		text-align: center;
		border: 1px solid #e8e8e8;
		th {
			text-align: center;
			background: #292929;
			color: white;
		}
		td {
			padding: 5px;
		}
	}
}
