html {
	font-size: 16px;
}

body {
    overflow-x: hidden;
}

@mixin make-grid-offset-right($class) {
    @for $index from 0 through $grid-columns {
        .offset-#{$class}-right-#{$index} {
            margin-right: percentage(($index / $grid-columns));
        }
    }
}


@include media-breakpoint-up(md) {
  @include make-grid-offset-right(md);
}


.site-content {
    max-width: 1170px;
    margin: 0 auto;
    // padding: 8rem 0 3rem;
    // padding: 0rem 0 3rem;
    padding: 0;
    overflow: visible;
    padding-left: 15px;
    padding-right: 15px;
}
.elementor-page {
	.site-content{
    max-width: 100%;
    padding: 0;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer {
  	margin-top: 0;
  }
}