@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?ywciro');
  src:  url('assets/fonts/icomoon.eot?ywciro#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.woff?ywciro') format('woff'),
    url('assets/fonts/icomoon.ttf?ywciro') format('truetype'),
    url('assets/fonts/icomoon.svg?ywciro#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mouse:before {
  content: "\e900";
}
.icon-chevron-up:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-cross2:before {
  content: "\e905";
}
.icon-palette:before {
  content: "\e906";
}
.icon-brush2:before {
  content: "\e907";
}
.icon-desktop:before {
  content: "\e908";
}
.icon-paper-plane:before {
  content: "\e909";
}
.icon-pencil-ruler:before {
  content: "\e90a";
}
.icon-arrow-up:before {
  content: "\e90b";
}
.icon-arrow-down:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-menu:before {
  content: "\e90f";
}
.icon-telephone:before {
  content: "\e910";
}
.icon-envelope:before {
  content: "\e911";
}
.icon-clock3:before {
  content: "\e912";
}