.sticky {
	display: block;
	box-shadow: $dropdown-box-shadow;
	padding: 30px;
}

.hentry {
	// margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: 1.5em 0 0;
	margin: 0;
}

.page-links {
	clear: both;
	margin: 1.5em 0 1.5em;
}