.has-animation {
	// visibility: hidden;
	opacity: 0;
	&.visible {
		// visibility: visible;
	}
	&.animate-child, &.elementor-widget {
		opacity: 1;
		>:first-child {
			opacity: 0;
		}
	}
}

.loading-screen {
	position: fixed;
	left: 0;
	top: 0;
	background-color: inherit;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 90;
}