.carousel {
	visibility: hidden;
	opacity: 0;
	transition: $transition-base;
}
.carousel.slick-initialized {
	visibility: visible;
	opacity: 1;
}

.slick-arrow {
	.nav-text {
		position: absolute;
		top: 50%;
		left: 0;
		opacity: 0;
		transform: translate3d(0,-50%,0);
		margin: 0 10px;
		transition: $transition-base;
		color: #fff;
	}
	&:hover {
		.nav-text {
			left: 100%;
			opacity: 1;
		}
	}
	&.slick-next {
		.nav-text {
			left: auto;
			right: 0;
		}
		&:hover {
			.nav-text {
				left: auto;
				right: 100%;
			}
		}
	}
}

.slick-slide {
	overflow: hidden;
}