.comment-respond {
	margin: 0 auto;
  text-align: center;
	margin-bottom: 3rem;
	clear: both;
	width: 100%;
	margin-top: 26px;
  .comment-notes {
  	margin-bottom: 2rem;
  }
}

.comment-list {
	margin: 0 auto;
	list-style: none;
	padding-left: 0;
	.media {
		flex-wrap: wrap;
	}
	.comment {
		margin-bottom: 1.5rem;
	}
	.comment-author{
		text-transform: uppercase;
		font-size: .9rem;
		margin-bottom: 0;
		margin-top: 12px;
	}
	.comment-metadata {
		font-size: .9rem;
		opacity: .8;
		font-style: italic;
		margin-bottom: .5rem;
	}
	.avatar {
		img {
			border-radius: 50%;
		}
	}
	.reply-link {
		a {
			border: 1px solid rgba(128, 128, 128, 0.25);
			text-transform: uppercase;
			font-size: .7rem;
			font-weight: bold;
			letter-spacing: .1rem;
			padding: 5px 8px;
		}
	}
	.children {
		width: 100%;
		margin-top: 1.5rem;
		@include media-breakpoint-down(md) {
			padding-left: .8rem;
		}
	}
}

.pingback {
	padding: 10px;
    border: 1px solid #c1c1c1;
    background: #fbfbfb;
    margin-bottom: 20px;
}