// Sections and containers
// Sections
.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: $container-width;
		@include media-breakpoint-down(lg) {
			max-width: 92%;
		}
}
.elementor-container {
		@include media-breakpoint-down(md) {
			// padding-left: 15px;
			// padding-right: 15px;
		}
}
.elementor-row {
	min-width: 100%;
  width: auto;
  flex: 1 1 auto;
}
.elementor-column-gap-default {
	>.elementor-row {
		// margin-left: -10px;
		// margin-right: -10px;
		>.elementor-column>.elementor-element-populated {
	    // padding: 15px;
	  }
	}
}
.elementor-column-gap-narrow {
	>.elementor-row {
		margin-left: -5px;
		margin-right: -5px;
	}
}
.elementor-column-gap-wide {
	>.elementor-row {
		margin-left: -20px;
		margin-right: -20px;
	}
}
.elementor-column-gap-wider {
	>.elementor-row {
		margin-left: -30px;
		margin-right: -30px;
	}
}
.elementor-section:first-child {
	padding-top: 8rem;
}
.site-footer {
	.elementor-section {
		padding-top: 6rem;
	}
}
.navbar {
	.elementor {
		width: 100%;
	}
	.elementor-section {
		padding: 0;
	}
}
.elementor-section {
	padding-top: 6rem;
	padding-bottom: 6rem;
	z-index: 1;
	width: 100%;
}
.elementor-section-wrap .elementor-section.elementor-section-height-full {
    padding-top: 0;
    padding-bottom: 0;
}

// IE 10 fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.elementor-widget-container>div>* {
		max-width: 100%;
	}
}

// Headings
.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
	font-size: 6rem;
		@include media-breakpoint-up(md) {
	    font-size: 10rem;
	  }
}
.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
	font-size: 8rem;
	@include media-breakpoint-up(md) {
    font-size: 17rem;
  }
}

.elementor-page .site-content {
    margin-top: 0rem;
}

// Slider
body {
	.elementor-slick-slider .slick-next:before, .elementor-slick-slider .slick-prev:before {
	    font-family: 'icomoon';
	    font-size: 35px;
	    line-height: 1;
	    opacity: .75;
	    color: #fff;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    left: 0;
	}
	.elementor-slick-slider .slick-prev:before {
	    content: "\e90d";
	}
	.elementor-slick-slider .slick-next:before {
	    content: "\e90e";
	}
	.elementor-slick-slider ul.slick-dots li button:before {
	    font-size: 6px;
	    line-height: 20px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 8px;
	    height: 8px;
	    content: "";
	    background: #c7c7c7;
	    border-radius: 50%;
	    text-align: center;
	    opacity: .25;
	}
	.elementor-slick-slider .slick-next, .elementor-slick-slider .slick-prev {
	    width: auto;
	    display: flex;
	}
	.elementor-slick-slider .slick-arrows-inside .slick-next {
	    right: 28px;
	}
	.elementor-slick-slider .slick-arrows-inside .slick-prev {
	    left: 28px;
	}
	.elementor-slick-slider .slick-dots-inside .slick-dots {
	    bottom: 2.5%;
	}
	.elementor-slick-slider .slick-dots-inside-right ul.slick-dots {
	    bottom: 3%;
	    right: 3%;
	    text-align: right;
	    margin-right: -10px;
	}
	.elementor-slick-slider .slick-dots-inside-left ul.slick-dots {
	    bottom: 3%;
	    left: 3%;
	    text-align: left;
	}

	.slick-arrows-outside-bottom-left, .slick-arrows-outside-bottom-right {
		.slick-next, .slick-prev {
		    left: 0;
		    top: 100%;
		    margin-top: 50px;
		    .nav-text {
		    	display: none;
		    }
		}
		.slick-next {
			left: 60px;
		}
	}
	.slick-arrows-outside-bottom-right {
		.slick-next, .slick-prev {
		    left: auto;
		    right: 0;
		}
		.slick-prev {
			right: 60px;
		}
	}
}

// Slick
.carousel-slide-counter {
	width: auto;
	left: 50%;
	text-align: center;
	font-size: 1.4rem;
	position: absolute;
	bottom: 4%;
	color: #fff;
	transform: translateX(-50%);
	.current {
		opacity: 1;
	}
	.total {
		font-size: .85rem;
	}
	.total, .slash {
		opacity: .6;
	}
}
.elementor-slick-slider .slick-dots-inside .carousel-slide-counter {
    bottom: 6.5%;
}
.slick-slide-inner {
	outline: none;
	&:hover, &:active, &:focus {
		outline: none;
	}
	text-align: center;
	article {
		// display: inline-block;
	}
}

@include media-breakpoint-down(sm) {
	.elementor-section.elementor-section-height-full {
			// height: 400px;
			height: auto;
			min-height: 100vh;
	    > .elementor-container {
	    	height: 100%;
	    }
	}
}
.fit-to-container {
	position: absolute;
	width: 100%;
	height: 100%;
	.carousel {
		position: absolute;
		width: 100%;
		height: 100%;
		.slick-list {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.slick-track {
			height: 100%;
		}
		.slick-slide-inner{
			height: 100%;
			position: relative;
			article {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				.featured {
					flex: 2;
					position: relative;
					overflow: hidden;
					height: 100%;
					img {
						// position: absolute;
						// top: 50%;
						// left: 50%;
						// transform: translate3d(-50%,-50%,0);
						// min-width: 100%;
						// min-height: 100%;
						object-fit: cover;
						width: 100%;
						height: 100%;
						object-position: 50% 50%;
					}
				}
			}
		}
	}
}

// Buttons
.elementor-widget-button a.elementor-button {
	&.elementor-size-xs {
		padding: 8px 12px !important;
	}
	&.elementor-size-md {
		padding: 15px 14px !important;
	}
	&.elementor-size-lg {
		padding: 20px 18px !important;
	}
	&.elementor-size-xl {
		padding: 24px 22px !important;
	}

}

// Dropcaps
.elementor-drop-cap-letter {
    vertical-align: top;
    line-height: 1 !important;
    font-size: 45px !important;
}

// Editor
.elementor-editor-active {
	.has-animation.animate-child>:first-child, .has-animation.elementor-widget>:first-child {
		opacity: 1;
	}
}
.elementor-editor-active:not([class*='template-header']):hover {
	.navbar {
		z-index: 0;
	}
	&.header-style-side-collapsed #navbar {
	    margin-left: 100px;
	    z-index: -1;
	}
}
#elementor {
	width: 100%;
}
body[class*='template-header'] {
	.navbar {
		height: auto;
	}
	#footer {
		display: none;
	}
}

// Anywhere Elementor
.single-ae_global_templates:not([class*='template-header']) {
	nav.navbar {
		display: none;
	}
}