.grid-item {
	&[data-animation="transition.moveRight"] {
	overflow: hidden;
	}
 padding-bottom: $grid-gutter-width-base;
 @include media-breakpoint-down(md) {
	 &.grid-item-insert {
	 	height: auto;
	 }
 }
 article {
	flex-flow: column;
 	display: flex;
 	max-height: 100%;
 }
	.featured {
		flex: 2;
		position: relative;
		overflow: hidden;
		height: inherit;
		-ms-flex-preferred-size: auto !important;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			font-family: 'object-fit: cover;'
		}
	}
  .hentry {
  	height: 100%;
  }
}

.elementor-widget-image-grid .grid-item-insert.grid-item .featured {
	margin-bottom: 0;
}
.elementor-widget-image-grid article {
	height: 100%;
}

.h-250 {
	height: 250px;
}
.h-300 {
	height: 300px;
}
.h-350 {
	height: 350px;
}
.h-450 {
	height: 450px;
}
.h-470 {
	height: 470px;
}
.h-600 {
	height: 600px;
}
.h-670 {
	height: 670px;
	@include media-breakpoint-down(sm) {
		max-height: 500px;
	}
}
.h-900 {
	height: 900px;
}

.mt-160 {
	margin-top: 160px;
}
.mb-160 {
	margin-bottom: 160px;
}
.mb-200 {
	margin-bottom: 160px;
}

@include media-breakpoint-down(sm) {
	.grid-style-2-column-alternating-spaced {
		.grid-item {
			margin-top: 0;
			margin-bottom: 2rem;
		}
	}
}