.pagination {
	margin: 2rem 0;
	display: flex;
  justify-content: center;
	>* {
		line-height: 30px;
		padding: 0px 8px;
	}
	.page-numbers {
		width: 32px;
		height: 32px;
		border-radius: 100%;
		display: block;
		float: left;
		text-align: center;
	}
	a.next, a.prev {
		width: auto;
	}
	.current {
		background: rgba(130, 130, 130, 0.1);
		border: 1px solid rgba(142, 142, 142, 0.22);
	}
	.icon {
		font-size: 12px;
	}
}

.page-links {
	.page-links-label {
		font-weight: bold;
	}
	
}