#particles {
	// @-moz-document url-prefix() {
	//     display: none;
	// }
	@include media-breakpoint-down(md) {
		// display: none;
	}
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: opacity .8s ease-in-out;
	i {
		display: block;
		position: absolute;
		z-index: 100;
		left:0;
		top:0;
		border-radius:50%;
		width: 14px;
		height: 14px;
		background: white;
		overflow: hidden;
		opacity:1;
	}
	&.visible {
		opacity: 1;
	}
	.fx {
		transform: translateZ(0px);
	}
}

