.portfolio-style-gradient-bottom {
	.grid-item {
		.overlay {
			text-align: left;
			opacity: 0;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.portfolio-style-label {
	.hentry {
		overflow: hidden;
		&:hover .overlay {
			transform: translate3d(0,0%,0);
		}
	}
	.overlay {
		top: auto;
		bottom: 0;
		height: auto;
		background: #fff;
		color: inherit;
		padding: 12px 20px;
		display: flex;
		flex-direction: row;
		transform: translate3d(0,100%,0);
		.entry-title {
			color: inherit;
			margin-bottom: 0;
			float: left;
		}
		.categories {
			text-align: right;
			margin-left: auto;
		}
	}
}

.portfolio-style-clip-text {
	.overlay {
		background-size: cover;
		background-position: 50% 50%;
		-webkit-background-clip: text;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
		@supports (-ms-ime-align:auto) {
			-webkit-text-fill-color: white;
      		text-fill-color: white;
		}
		color: #fff;
		visibility: visible;
		.excerpt {
			font-size: 1.3rem;
			p {
				font-size: inherit;
			}
		}
		&:after, &:before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		&:before {
			z-index: -2;
			background-image: inherit;
			background-size: cover;
			background-position: 50% 50%;
		}
		&:after {
			z-index: -1;
			// background-color: rgba(0, 0, 0, 0.84);
			background-color: inherit;
		}
		.moretag {
			-webkit-text-fill-color: #fff;
			text-fill-color: #fff;
		}
	}
}
// Safari clip-text fit inside slider
_::-webkit-full-page-media, _:future, :root .portfolio-style-clip-text .slick-slide .overlay  {
		-webkit-text-fill-color: rgba(255, 255, 255, 1);
}
@media not all and (min-resolution:.001dpcm) { 
	@supports (-webkit-appearance:none) {
		.portfolio-style-clip-text .slick-slide .overlay {		
			-webkit-text-fill-color: rgba(255, 255, 255, 1);
		}
	}
}

.portfolio-style-overlay-left {
	.container {
		text-align: left;
	}
}

.portfolio-style-layered {
	.main {
		width: 100%;
	}
	.overlay {
		background-color: rgba(0, 0, 0, 0.84);
	}
	.container {
		height: 100%;
	}
	.post-info {
		width: 33%;
		position: absolute;
		text-align: left;
		margin-top: 5%;
	}
	.entry-title, .categories, .excerpt p {
		color: #fff;
	}
	.post-info {
		z-index: 3;
	}
	.excerpt {
		margin-top: 3rem;
		opacity: .4;
	}
	.featured {
		z-index: 2;
		max-height: 500px;
	}
	.background-title {
		color: #fff;
		z-index: 1;
		position: absolute;
		bottom: -15%;
		left: 75%;
		font-size: 9rem;
		text-align: left;
		line-height: 1;
		width: 1000%;
	}
	.separator {
		background: #fff;
		margin-bottom: 2rem;
	}
	.main {
		position: relative;
		// height: 600px;
		// max-height: 80vh;
		img {
			height: 600px;
			max-height: 80vh;
			width: auto;
		}
		.col-md-2 {
			margin-top: 4%;
		}
	}
	.moretag {
		color: #fff;
	}
}

.portfolio-style-overlay-excerpt {
	.excerpt {
		color: #fff;
		p {
			font-size: inherit;
			color: inherit;
		}
	}
	.date {
    text-transform: uppercase;
    letter-spacing: .15rem;
	}
}

.portfolio-style-overlay {
	.excerpt {
    transition: $transition-base;
		color: #fff;
		p {
			color: inherit;
		}
	}
	.categories {
    letter-spacing: .25rem;
    transition: $transition-base;
	}
	.read-more {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		font-size: 1rem;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: .1rem;
		transition: $transition-base-portfolio;
		&:after {
			content: '';
			display: block;
			clear: both;
			width: 30px;
			height: 2px;
			background: #fff;
			top: 100%;
		}
	}
	.grid-item {
		&:hover {
			.overlay {
				opacity: 0;
			}
			.categories {
				transform: translate3d(0%,-100%,0);
			}
			.excerpt {
				transform: translate3d(0%,100%,0);
			}
			.read-more {
				opacity: 1;
			}
			// .featured {
			// 	margin-left: -20%;
			// 	margin-right: -20%;
			// }
		}
	}
}


$color: rgb(255,255,255);
// $color-alpha: darken( $color, $darken );

// Apply color here!
// Todo el color que quieras!
$color-base: rgb(0,0,0);

svg.svg-overlay {
	height: 100%;
	display:block;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
svg.mask {
	height: 100%;
	display:block;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	mask {
		dominant-baseline: central;
	}
  // width: 100%;
  // height: inherit;
  text{
    // svg center text.
    // centar text svg.
    text-anchor: middle;
  }
  .alpha {
    fill: #cecece;
    height: 100%;
    // height: 100vh;
    //animation: alpha 10s ease infinite;
  }
  .entry-title {
    letter-spacing: -2px;
    font-size: 6em;
    font-weight: 800;
  }
  .categories {
    letter-spacing: 8px;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
  }
  .base{
    fill: $color-base;
    // add the mask.
    // aplicar máscara.
    // mask: url(#mask);
  }
}
