$transition-base-portfolio: all .4s ease-in-out;

.hentry {
	position: relative;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		padding: 30px;
		display: flex;
		flex-direction: column;
		background: rgba(0,0,0,0.4);
		align-items: center;
		justify-content: center;

		// transition: $transition-base;
		transition: all .35s ease-in-out;
		.entry-title {
			color: #fff;
		}
		// IE 10 fixes
		> a {
			flex-wrap: wrap;
			display: flex;
		}
		* {
			flex-shrink: 1;
			max-width: 100%;
		}
	}
	.overlay-gradient {
		background: rgba(0,0,0,.3);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 76%, rgba(0,0,0,.4) 100%);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: baseline;
		text-align: left;
		.author {
			color: #fff;
		}
	}
	.overlay-hidden {
		visibility: hidden;
		opacity: 0;
	}
	.overlay-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: none;
		z-index: 10;
	}
	&:hover {
		>.overlay-hidden {
			visibility: visible;
			opacity: 1;
		}
	}
	.post-meta {
		font-size: .8rem;
	}
	.spacer-before:before, .spacer-after:after {
		width: 50px;
		height: 1px;
		background: $headings-color;
		display: block;
		content: '';
	}
	.spacer-before:before {
		margin-bottom: 22px;
	}
	.spacer-after:after {
		margin-bottom: 22px;
	}
	.author {
		font-weight: 600;
		text-transform: uppercase;
		margin-right: 10px;
	}
	.moretag {
		font-size: .7rem;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .1rem;
	}
}

.categories {
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-size: .75rem;
	&.badges {
		a {
			background: rgba(0,0,0,0.5);
			color: #fff;
			border-radius: 3px;
			padding: 5px 8px;
			font-size: .6rem;
		}
	}
}

.post-style-default {

	.grid-item {
		.overlay-inner {
			padding: 24px;
			background: #fff;
			display: flex;
			height: 100%;
			// height: 60px;
			flex-direction: column;
			justify-content: center;
			overflow: hidden;
			position: relative;
			width: 100%;
			// .categories {
			// 	position: absolute;
			// 	top: 25px;
			// }
			// .read-more {
			// 	position: absolute;
			// 	bottom: 25px;
			// }
			.excerpt {

				display: none;
				&.show {
					display: block;
				}
				p {
					margin: 0;
				}
				
				// display: block;
				// display: -webkit-box;
				// max-width: 400px;
				// height: 3.6rem;
				// margin: 0 auto;
				// line-height: 1.2;
				// -webkit-line-clamp: 3;
				// -webkit-box-orient: vertical;
				// overflow: hidden;
				// text-overflow: ellipsis;
			}
		}
		.read-more {
			color: #000;
			text-transform: uppercase;
			font-size: .8rem;
			font-weight: bold;
		}
		.categories a {
			color: #a1a1a7;
		}
		.excerpt p, .excerpt span {
			color: #777777;
		}
		.overlay {
			opacity: 0;
		}
		&:hover {
			.overlay {
				opacity: 1;
			}
		}
	}

}

.post-style-image-left {
	.post-meta {
		position: relative;
		padding-top: 30px;
		font-size: .8rem;
		&:before {
			position: absolute;
			top: 0;
			width: 50px;
			height: 1px;
			background: $headings-color;
			display: block;
			content: '';
		}
	}
}

.post-style-reverse-overlay {
	.grid-item {
		.featured, .post-meta {
			opacity: 0;
			transition: $transition-base-portfolio;
		}
		.overlay {
			align-items: baseline;
			background: transparent;
		}
		.entry-title {
			color: $headings-color;
		}
		.entry-title, .categories a, p {
			transition: $transition-base-portfolio;			
		}
		p {
			opacity: 0;
		}
		&:hover, &.active {
			.featured, .post-meta {
				opacity: 1;
			}
			.entry-title, .categories a {
				color: #fff;
			}
			.categories a {
				opacity: .7;
			}
		}
	}
}

.post-style-excerpt {
	.hentry {
		.entry-title {
			position: relative;
			&:after {
				margin-top: 20px;
				height: 1px;
				width: 50px;
				background: $headings-color;
				content: '';
				display: block;
			}
		}
	}
}

.post-style-card {
	.grid-item {
		padding-bottom: 6rem;
  	@include media-breakpoint-up(md) {
			.featured {
				margin-right: -8.333333%;
			}
		}
		.card-block {
			padding-left: 4.5rem;
		}
		.categories {
			position: absolute;
			top: $card-spacer-x;
			right: 100%;
			transform: rotate(-90deg);
			transform-origin: top right;
			width: 200px;
			text-align: right;
			padding-top: 20px;
		}
  	@include media-breakpoint-up(md) {
			&:nth-child(even) {
				.featured {
					margin-right: 0;
					margin-left: -8.333333%;
					order: 2;
				}
			}
		}
  	@include media-breakpoint-down(sm) {
			.card-col {
				margin-top: -20%;
			}
  	}
	}
}

.post-style-no-image {
	@include media-breakpoint-up(md) {
		.title-column {
			text-align: right;
		}
	}
	.excerpt-column {
		margin-top: 1rem;
		text-align: left;
	}
	.grid-item:nth-child(odd) {
    .title-column {
    }
    .excerpt-column {
			padding-right: 16.666667%;
    }
	}
	@include media-breakpoint-up(md) {
		.excerpt-column {
			margin-top: 3rem;
		}
		.grid-item:nth-child(even) {
	    .title-column {
	    	order: 1;
	    	text-align: left;
	    }
	    .excerpt-column {
	    	order: 0;
				padding-left: 16.666667%;
	    	text-align: right;
	    }
		}
	}
}

.card {
	box-shadow: $dropdown-box-shadow;
}

.featured-empty {
	background-color: #f4f4f4;
	min-height: 240px;
	width: 100%;
}
.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
}
.blog {
	.site-content {
		max-width: 95%;
		width: 95%;
	}
}