.navigation {
	display: inline-block;
	width: 100%;
}
.nav-links {
  display: flex;
	width: 100%;
	align-items: center;
}
.nav-previous, .nav-next {
	float: left;
	width: 50%;
	position: relative;
	small {
		display: block;
		letter-spacing: .1rem;
		font-size: .85rem;
		opacity: .4;
		text-transform: uppercase;
		margin-bottom: .5rem;
	}
	a {
		position: relative;
		overflow: hidden;
		display: inline-block;
		&:before {
			top: 50%;
			transform: translateY(-50%);
			font-family: 'icomoon';
			position: absolute;
			font-size: 1.4rem;
		}
		.article-name {
			position: relative;
			display: block;
	    font-size: 1.4rem;
			transition: $transition-base;
		}
		&:hover {
			.article-name.slide-in {
				transform: translate3d(0%,0,0);
			}
		}
	}
}
.nav-previous {
	a  {
		padding-left: 40px;
		&:before {
			content: "\e90d";
			left: 0;
		}
		.article-name {
			&.slide-in {
				transform: translate3d(100%,0,0);
			}
		}
	}

}
.nav-next {
	float: right;
	text-align: right;
	margin-left: auto;
	a {
		padding-right: 40px;
		&:before {
			right: 0;
			content: "\e90e";
		}
		.article-name {
			&.slide-in {
				transform: translate3d(-100%,0,0);
			}
		}
	}

}

.post-nav-container {
	margin-top: 3rem;
	margin-bottom: 3rem;
	display: inline-block;
	width: 100%;
	// background: #fafafa;
	background: rgba(189, 189, 189, 0.06);
	padding: 2rem 1rem;
	@include media-breakpoint-up(md) {
		padding: 3rem;
	}
	@include media-breakpoint-down(sm) {
		a {
			small {
				margin-bottom: 0;
			}
			.article-name {
				display: none;
			}
		}
	}
}