.team-member {
	position: relative;
	margin-bottom: 3rem;
	.team-member-name {
		margin: 0;
	}
	.team-member-info {
		padding-top: 1rem;
		width: 50%;
	}
	&.team-member-info-bottom {
		text-align: center;
		.team-member-info {
			width: 100%;
		}
	}
	&.team-member-info-left {
		@include media-breakpoint-up(md) {
			text-align: right;
			.team-member-info {
				position: absolute;
				bottom: 10%;
				right: 90%;
			}
		}
	}
	&.team-member-info-right {
		@include media-breakpoint-up(md) {
			text-align: left;
			.team-member-info {
				position: absolute;
				bottom: 10%;
				left: 90%;
			}
		}
	}
}