.testimonial {
	@include media-breakpoint-down(md) {
		padding: 12px;
	}
	> * {
		max-width: 100%;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	.testimonial-content {
		p {
			font-size: inherit;
			color: inherit;
		}
	}
	.testimonial-user-image {
		img {
			max-width: 100px;
			height: auto;
			border-radius: 50%;
		}
	}
	.testimonial-user {
		line-height: 1;
	}
	&.text-left {
		.testimonial-user-image {
			img {
				margin-left: 0;
			}
		}
	}
	&.text-right {
		.testimonial-user-image {
			img {
				margin-right: 0;
			}
		}
	}
}
