.woocommerce-loop-product__title {
	font-size: 1.2rem;
}
.grid-item {
	.woocommerce-LoopProduct-link {
		display: flex;
		flex-direction: column;
	}
	.star-rating {
		display: none;
	}

}
html body .site-content {
	.product.type-product {
		overflow: hidden;
		.featured {
			img {
				margin: 0;
			}
		}
		.woocommerce-loop-product__title {
			padding: 0;
			margin: .5rem 0;
			z-index: 1;
			transition: $transition-base;
		}
		.add_to_cart_button {
			padding-left: 0;
			padding-right: 0;
			transform: translate3d(0,150%,0);
			transition: all .3s ease-in-out;
			box-shadow: none;
			background: transparent;
			border: 0;
			color: inherit;
			font-weight: bold;
			overflow: visible;
			margin-top: 0;
			&:hover {
				color: inherit !important;
				background: transparent;
			}
		}
		&:hover {
			>a>.woocommerce-loop-product__title {
				margin-top: -20px;
			}
			>.add_to_cart_button {
				transform: translate3d(0,0%,0);
			}
		}
		.onsale {
				min-height: 2em;
				min-width: 3.236em;
				max-width: 100px;
				padding: .202em;
				font-weight: 700;
				position: absolute;
				text-align: center;
				line-height: 2.3;
				top: .5rem;
				right: .5rem;
				margin: 0;
				border-radius: 5px;
				background-color: white;
				color: inherit;
				font-size: .857em;
				-webkit-font-smoothing: antialiased;
				z-index: 9;
			}
	}
}
.add_to_cart_button {
	margin: 0;
}

// Single
.woocommerce.single {
	h2 {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
}
.woocommerce div.product div.summary {
    padding-top: 3em;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: inherit;
    font-size: 1.25em;
}
.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
    margin-top: 0;
}
.woocommerce div.product form.cart .variations label {
    line-height: 50px;
}
.woocommerce div.product form.cart .reset_variations {
    position: absolute;
}
.woocommerce .quantity .qty, .woocommerce div.product form.cart .button {
    height: 46px;
}
.quantity input {
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.woocommerce button.button.alt.disabled {
	background: black;
	opacity: .2;
	cursor: not-allowed;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid rgba(206, 208, 211, 0.48);
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 1px solid rgba(206, 208, 211, 0.48);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: #f2f2f3;
}
.woocommerce #content div.product .woocommerce-tabs {
	max-width: 770px;
	padding-top: 3rem;
	margin: 0 auto;
}
.woocommerce #review_form #respond {
    text-align: left;
}
.woocommerce .star-rating span::before, .woocommerce p.stars a {
    color: rgba(255, 215, 0, 0.5);
}
.related.products {
	max-width: 1170px;
	margin: 4rem auto;
}

// Checkout
.woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: auto;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding: 0;
	line-height: 2.8rem;
}
.woocommerce table.shop_table {
    border: 0px solid rgba(0,0,0,.1);
}
.woocommerce form .form-row {
    margin: 10px 0 20px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    max-width: 100%;
    flex: 0;
    padding: 0;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: rgba(235, 233, 235, 0.26);
}
#billing_address_1_field label {
	display: none;
}

// Shop page
.woocommerce ul.products li.product .price {
    color: inherit;
}
.woocommerce-result-count {
	display: none;
}
.woocommerce.archive {
	.page-title {
		float: left;
	}
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 30.8%;
    margin-bottom: 2em;
}
@include media-breakpoint-down(sm) {
	.woocommerce-page ul.products li.product, .woocommerce ul.products li.product {
	    width: 48%;
	}
}
@include media-breakpoint-down(xs) {
	.woocommerce-page ul.products li.product, .woocommerce ul.products li.product {
	    width: 100%;
	}
}

// Messages
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    border: 0px;
    color: #fff;
    a {
    	color: inherit;
    }
    &:before {
    	color: #fff;
    }
}
.woocommerce-message {
	background: #7cbd88;
}
.woocommerce-info {
	background: #7cb0bd;
}
.woocommerce-error {
	background: #e46645;
}
