.error-404 {
	h1 {
		font-size: 8rem;
		line-height: 1;
		@include media-breakpoint-up(md) {
			font-size: 15rem;
		}
	}
	.oops {
		max-width: 500px;
		margin: 0 auto 8rem;
		.searchform {
			max-width: 400px;
			margin: 2rem auto;
		}
	}
}