#footer {
	clear: both;
}

footer {
	margin: 5rem auto 0rem;
}

.fixed-corner-left {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
}

.fixed-corner-right {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
}