.admin-bar {
	.navbar {
		top: 32px;
	}
}

.header-dark-active {
	.logo-dark {
		display: block;
	}
	.logo-light {
		display: none;
	}
}
.header-light-active {
	.logo-dark {
		display: none;
	}
	.logo-light {
		display: block;
	}
}

body.navbar-active {
	overflow: hidden;
}

.menu {
	@extend .navbar-nav;
	@extend .navbar-collapse;
}

.navbar {
  border-bottom-style: solid;
  border-bottom-width: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  flex-direction: row;
	align-items: center;
	transition: $transition-base;
	position: absolute;
	top: 0;
	.site-description {
		margin-right: 30px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.navbar-brand {
		display: block;
		span {
			font-weight: bold;
			font-size: 1.6rem;
			color: black;
		}
		.logo-dark {
			color: white;
		}
	}
	.dropdown-menu {
		left: auto;
		right: 0;
		border-radius: 8px;
		box-shadow: $btn-box-shadow;
		.nav-link {
		    padding: .5em 1.3em!important;
		}
	}
}

// Links
.nav-link {
	transition: $transition-base;
	color: black;
}

// Dropdowns
.dropdown-toggle {
	&:after {
		font-family: 'icomoon';
		content: "\e902";
		font-size: 12px;
		border: 0;
		position: relative;
		top: -2px;
		display: inline;
	}
}

.navbar-sidebar {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 280px;
	border-bottom-style: none;
	border-right-style: solid;
  flex-direction: column;
  align-items: flex-start;
  .navbar-bg {
  	background: inherit;
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	z-index: -1;
  }
	.navbar-brand {
		padding-top: 4rem;
		margin-bottom: 3rem;
		font-size: 30px;
		margin-right: 0;
	}
	.site-description {
		margin-bottom: 3rem;
	}
	ul.navbar-nav {
		flex-direction: column;
		width: 100%;
		li {
			.nav-link {
				padding-left: 0;
			}
			.dropdown-menu {
			    position: static;
			    width: 100%;
			    box-shadow: none;
			    border: 0;
			}
		}
	}
	.navbar-toggler {
		position: static;
	}
}
.header-style-side {
	.navbar-toggler {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 110;
		background-color: white;
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	@include media-breakpoint-down(md) {
		&.navbar-active {
			.navbar-sidebar {
				transform: translate3d(0,0,0);
			}
		}
	}
	.navbar-sidebar {
		@include media-breakpoint-down(md) {
			transform: translate3d(-100%,0,0);
			overflow: scroll;
		}
		.dropdown {
			position: static;
			&.show {
				.dropdown-menu {
					transform: translate3d(0%,0,0);
				}
				.dropdown-toggle {
					&:after {
						content: '\e905';
					}
				}
			}
		}
		@include media-breakpoint-up(lg) {
			ul.navbar-nav li .dropdown-menu {
				position: absolute;
				top: 0;
				left: 100%;
				border-radius: 0;
				margin: 0;
				height: 100%;
				display: flex;
				align-items: center;
				padding: 0;
				transition: $transition-base;
				transform: translate3d(-100%,0,0);
				z-index: -2;
			}
		}
		.dropdown-toggle {
			&:after {
				content: '\e904';
			}
		}
	}

	#content {
		@include media-breakpoint-up(lg) {
			padding-left: 280px;
		}
		box-sizing: content-box;
		* {
			box-sizing: border-box;
		}
	}
}
.admin-bar.header-style-side {
	.navbar-toggler {
		margin-top: 32px;
	}
}

.header-style-side-collapsed {
	#content {
		padding-left: 50px;
  	@include media-breakpoint-up(sm) {
			padding-left: 100px;
		}
		box-sizing: content-box;
		* {
			box-sizing: border-box;
		}
	}
	#navbar {
		margin-left: 50px;
  	@include media-breakpoint-up(sm) {
			margin-left: 100px;
		}
	}
	.navbar-sidebar {
		border-right: 1px solid black;
		background: #fff;
		align-items: center;
		width: 50px;
  	@include media-breakpoint-up(sm) {
			width: 100px;
		}
		.elementor-social-icon {
		  width: 100%;
		}
	}
	.site-description {
		transform: rotate(-90deg);
		width: 200px;
		margin: 0;
		z-index: -1;
	}
	.navbar-nav {
		opacity: 0;
		justify-content: center;
		padding: 0 40px;
		width: 100%;		
		li {
			ul {
				position: static;
				clear: both;
				width: 100%;
				border: 0;
				padding: 0 0 0 30px;
		    margin: 0;
		    max-height: 0px;
		    transition: max-height 700ms ease-in-out;
		    display: block;
		    overflow: hidden;
			}
			&.show {
				ul {
					max-height: 400px;
				}
			}
		}
	}
	.navbar-collapse {
		box-shadow: 0 6px 11px rgba(224, 224, 224, 0.16), 0 0px 12px rgba(202, 202, 202, 0.23);
		width: 360px;
		display: flex;
		position: fixed;
		z-index: 99;
		height: 100% !important;
		left: 0;
		top: 0;
		&.collapse {
			transform: translate3d(-100%,0,0);
		}
		.navbar-nav {
			align-items: flex-start;
		}
	}
}

.nav-overlay {
	display: flex;
  position: fixed;
  top: 0;
  right: 100%;
  background: black;
  width: 100%;
  height: 100% !important;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 99;
  align-items: center;
  // visibility: hidden;
  // opacity: 0;
  // transition: $transition-base;
  .navbar-nav {
  	width: 100%;
  	flex-direction: column;
  	@include media-breakpoint-up(lg) {
	  	flex-direction: row;
	  }
  	text-align: center;
		>li {
			flex: 1;
			>a {
				font-size: 2rem;
				padding-bottom: 2rem !important;
				@include media-breakpoint-up(lg) {
					font-size: 3rem;
			    padding-bottom: 0em !important;
				}
			}
		}
		.nav-link {
			padding: 0;
		}
		.dropdown-menu {
			display: block;
			position: static;
			width: 100%;
			text-align: center;
			background: transparent;
			box-shadow: none;
			border: 0;
			text-transform: uppercase;
			letter-spacing: .1rem;
		}
  }
  &.show {
  	opacity: 1;
  	visibility: visible;
  }
}

.header-style-slide-down {
	#navbar {
		display: flex;
		width: auto;
		.nav {
			flex-direction: row;
		}
		transform: translateY(-100%);
	}
	.navbar-toggler {
	    display: flex !important;
	}
}

.header-style-floating {
	.navbar {
		background: transparent !important;
	}
	.navbar-inner {
		transition: $transition-base;
		// width: 1170px;
		// max-width: 100%;
		margin: 20px auto 0;
		box-shadow: $dropdown-box-shadow;
		background-color: inherit;
		width: 1170px;
		display: flex;
		align-self: baseline;
		align-items: center;
		padding: 10px 15px;
	}
}
// Custom navbars for Elementor widgets
.navbar-custom {
	> .widget {
		width: 100%;
	}
}

// Mobile header
@include media-breakpoint-down(md) {
	.navbar-collapse {
		transition: $transition-base;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		background: #fff;
		height: 100%;
		display: flex;
		transform: translate3d(-100%,0,0);
		overflow: scroll;
		padding-top: 5rem;
		padding-bottom: 3rem;
		.nav-link {
		    display: block;
		    padding: 1.6em 1.3em;
		}
		.navbar-nav {
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	.navbar-active {
		.navbar-collapse {
			transform: translate3d(0%,0,0);
		}
	}
	.admin-bar .navbar-collapse .navbar-nav {
		padding-top: 3rem;
	}
}

.navbar-toggler {
	cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1;
  color: inherit;
  display: flex;
  align-items: center;
  align-self: center;
  line-height: 24px;
  z-index: 110;
  .toggler-text {
		display: block;
  }
	i {
		font-size: 24px;
		right: 0;
		align-self: center;
		display: block;
		&:before {
			line-height: 24px;
		}
	}
	&.navbar-style-icon_and_text {
		i {
			margin-left: 10px;
		}
	}
	.close-toggler-text, .close-icon {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	.close-icon {
		font-size: 18px;
	}
}
.navbar-active {
	.close-toggler-text, .close-icon {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	.toggler-text, .icon-menu {
		display: none;
	}
}
.navbar-toggler.close-toggler {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	color: #fff;
	* {
		opacity: .6;
		transition: $transition-base;
	}
	&:hover {
		* {
			opacity: 1;
		}
	}
	.nav-text {
		font-size: .7rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-right: 20px;
	}
}

