.page-header {
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 8rem;
	padding-bottom: 3rem;
	@include media-breakpoint-up(md) {
		padding-top: 10.5rem;
		padding-bottom: 6rem;
	}
	&.inverse {
		color: #fff;
		* {
			color: #fff;
		}
	}
}

.site-content {
	margin-top: 7rem;
	@include media-breakpoint-up(md) {
		margin-top: 9rem;
	}
}