.portfolio-details {
	.detail {
		display: block;
		width: 50%;
		float: left;
		margin-bottom: 1.8rem;
	}
	.detail-name {
		font-weight: 700;
		text-transform: uppercase;
		display: block;
		font-size: .9rem;
		opacity: .5;
	}
}

.sidebar.featured {
	@include media-breakpoint-up(md) {
		margin-right: -15px;
		height: 100vh;
		>img {
		  object-fit: cover;
	    width: 100%;
	    height: 100%;
		}
	}
}

@include media-breakpoint-down(sm) {
	.col-featured {
		order: -1;
		padding-top: 7.5rem;
	}
}

.single-portfolio {
	.site-content {
		margin-top: 0;
		max-width: 100%;
	}
	.page-header {
		padding-top: 6rem;
		@include media-breakpoint-up(md) {
			padding-top: 7.5rem;
		}
		padding-bottom: 4rem;
		.separator {
			margin-top: 3rem;
		}
	}
	@include media-breakpoint-up(md) {
		.col-md-6.main, .col-md-5.main {
			padding-left: 5rem;
			padding-right: 5rem;
		}
	}
	.entry-content {
		margin-bottom: 5rem;
	}
	.navigation {
		border-top: 1px solid $body-color;
		padding: 1.5rem 0;
	}
	footer {
		// margin-top: 5rem;
		// display: inline-block;
		// width: 100%;
	}
	.featured-carousel {
		// height: 100%;
	}
}

.single-portfolio-style-images-right {

}

.single-portfolio-style-images-bottom {
	.page-header {
	}
	.featured {
		margin-top: 7rem;
	}
}

.single-portfolio-style-meta-right {
	.portfolio-details {
		.detail {
			width: 50%;
			@include media-breakpoint-up(md) {
				width: 25%;
			}
		}
	}
	.featured {
		margin-bottom: 6rem;
	}
}

.single-portfolio-style-carousel-right {
	.page-header {
		.separator {
			margin-top: .6rem;
			margin-bottom: 2rem;
		}
	}
	.featured {
		overflow: hidden;
	}
	.slick-slide {
		margin-left: 15px;
		margin-right: 15px;
	}
	.carousel {
		margin-right: -15px;
		margin-left: -15px;
	}
	@include media-breakpoint-up(md) {
		.slick-slide {
			margin-right: 30px;
		}
		.carousel-wrapper {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			margin-right: -20%;
			.slick-next {
				margin-right: 20%;
			}
		}
	}
	footer {

	}
}

.carousel.stretched {
	position: absolute;
	width: 100%;
	height: 100%;
	.slide {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    overflow: hidden;
	    height: 100vh;
	}
	.slide img {
	    flex-shrink: 0;
	    min-width: 100%;
	    min-height: 100%
	}
}