.single {
	.site-content {
		max-width: 100%;
		padding: 0;
	}
	.post-meta {
		font-size: .9rem;
		div {
			display: inline-block;
			margin-right: 18px;
			margin-bottom: 10px;
			font-weight: bold;
		}
		.label {
			text-transform: uppercase;
			font-size: .8rem;
		}
	}
	.post-meta-col {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	.featured {
		img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}
	.entry-content {
		margin: 0;
		font-size: 1.15rem;
	}
	.alignnone {
		margin: 2rem 0;
		@include media-breakpoint-up(lg) {
			max-width: 970px;
		}
		height: auto;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		img {
			max-width: 100%;
			height: auto;
		}
	}

}

.tags {
	a {
		border: 1px solid #dedee4;
		padding: 6px 10px;
		font-size: .65rem;
		margin-right: 12px;
		color: inherit;
		text-transform: uppercase;
		letter-spacing: .1rem;
		display: inline-block;
		margin-bottom: 10px;
	}
}

.separator {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	background: rgba(0,0,0,.2);
	margin-top: 1rem;
	max-width: 130px;
}

.single-post-style-card {
	background: #fafafa;
	.page-header {
		background-color: darkgrey;
		display: table;
		min-height: 75vh;
		width: 100%;
		padding-top: 12rem;
		padding-bottom: 15rem;
		h1 {
			margin-bottom: 1.8rem;
		}
		>.container {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.card-main {
		margin-top: -7rem;
	}
	.card {
		margin-bottom: 2rem;
		@include media-breakpoint-down(sm) {
			.card-block {
				padding: 1rem;
			}
		}
	}
	.post-nav-container {
		background: #fff;
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
	}
}

.single-post-style-featured-left {
	.featured {
		background-size: cover;
		background-position: center center;
		height: 300px;
		@include media-breakpoint-up(md) {
			height: 100%;
			position: fixed;
		}
	}
	.main {
		background: #fff;
		@include media-breakpoint-up(md) {
			padding-left: 10rem;
			padding-right: 10rem;
		}
	}
	.page-header {
		padding-top: 2rem;
		@include media-breakpoint-up(md) {
			padding-top: 7.5rem;
		}
		padding-bottom: 4rem;
	}
	.post-meta-col {
		justify-content: flex-start;
	}

	.comment-respond {
		text-align: left;
	}
}

.single-post-style-sidebar {
	.site-content {
		>.container {
			margin-top: 7rem;
			img, .alignnone {
				max-width: 100%;
			}
		}
	}
	.col-sidebar {
		margin-top: 3rem;
	}
	@include media-breakpoint-up(lg) {
		.col-sidebar {
			order: 0;
			margin-top: 0;
		}
		.col-main {
			order: 1;
		}
	}
}

.single-post {
	.site-content {
		margin-top: 0;
	}
}

.social-share {
	display: flex;
	margin-top: 2rem;
	@include media-breakpoint-up(md) {
		margin-top: 0;
	  justify-content: flex-end;
	}
	.social-share-label {
	}
	ul {
		list-style: none;
		margin: 0;
		margin-top: -2px;
		li {
			float: left;
			line-height: 1;
			a {
				position: relative;
				display: block;
				padding: 5px 10px;
				&:hover {
					.social-name {
						transform: translate3d(-50%,-100%,0);
						opacity: 1;
					}
				}
			}
		}
	}
	.social-name {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate3d(-50%,0%,0);
		opacity: 0;
		transition: $transition-base;
		font-weight: bold;
	}
}

.single .site-content {
	.elementor-section {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
}

.post-password-form input[type=password] {
	border-left: 0;
    border-right: 0;
    border-top: 0;
    line-height: 2.5rem;
}

.search, .archive {
	.grid-item img {
		max-height: 360px;
	}
}