#secondary {
	.widget {
    margin-bottom: 30px;
    &:after {
    	display: block;
    	content: '';
    	width: 100px;
    	border: 1px solid rgba(119, 119, 144, 0.13);
    	margin-top: 30px;
    }
    .widget-title {
    	font-size: 1.2rem;
    	margin-bottom: 1rem;
    }
    ul {
		    list-style: none;
		    padding-left: 0;
		    li {
		    	padding: .3rem 0;
		    }
		}
	}
}